<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="t1" class="kr.hs.study.beans.TestBean1">
        <constructor-arg value="kim"/>
    </bean>
    <bean id="t2" class="kr.hs.study.beans.TestBean1">
        <constructor-arg value="5" type="int" index="0"/>
        <constructor-arg value="5.5" type="double" index="1"/>
        <constructor-arg value="lee" type="String" index="2"/>
    </bean>

<!--    방법 1) t3 객체를 만드는데 databean의 주소를 넘김(클래스의 이름 없는 것)-->
<!--    <bean id="t3" class="kr.hs.study.beans.TestBean2">-->
<!--        <constructor-arg>-->
<!--            <bean class="kr.hs.study.beans.DataBean2"/>-->
<!--        </constructor-arg>-->
<!--        <constructor-arg>-->
<!--            <bean class="kr.hs.study.beans.DataBean2"/>-->
<!--        </constructor-arg>-->
<!--    </bean>-->

<!--    방법 2) DataBean2의 객체 생성 후 ref -->
    <bean id="d1" class="kr.hs.study.beans.DataBean2"/>

    <bean id="t3" class="kr.hs.study.beans.TestBean2">
        <constructor-arg ref="d1"/>
        <constructor-arg ref="d1"/>
    </bean>
</beans>